<o-form-layout-manager attr="Schedule" mode="tab" title="SCHEDULE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ScheduleTable" 
            service="Schedule" 
            entity="Schedule" 
            title="SCHEDULE"
            keys="id"
            columns="id;vet_id;day_of_week;start_time;end_time" 
            header-actions="R;D"
            visible-columns="id;vet_id;day_of_week;start_time;end_time"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="vet_id" title="vet_id">
    <o-table-cell-renderer-service attr="vet_id" 
        service="Vet" entity="VetType" columns="id;name"
        parent-keys="id:vet_id"
        value-column="name" keys="vet_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #day_of_week attr="day_of_week" title="day_of_week" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #start_time attr="start_time" title="start_time" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #end_time attr="end_time" title="end_time" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>